
:root{
    --background-color-1: #060e63;
    --color-1: #593cbc;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body {
    background-image: url('../image/portadas/portada-champions.webp');
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    margin-top: vh;
}
.vara {
    height: 40px;
    width: 15px;
    background-color: var(--color-1);
    margin: auto;
    position: relative;
    top: 10px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #000;
    border-top: 5px solid #000;
    z-index: 1000;
}



.contenedor-imagen{
    width: 100%;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho del contenedor */
    padding: 0 2rem;
}

.contenedor-imagen img {
    z-index: 100;
    transition: all 5s;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    width: 60%;
    }

#premio {
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
    padding: 20px;
}


